<!doctype html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body onload="document.forms[0].submit()">
    <form action="<%= action %>" method="POST">
      <input type="hidden" name="SAMLResponse" value="<%= response %>" />
      <input type="hidden" name="RelayState" value="<%= relayState %>" />
    </form>
  </body>
</html>